backend/step-functions/state-machine.json
{
    "Comment": "Video Processing Pipeline: Generate Job → Run Rekognition → Store Results",
    "StartAt": "GenerateJobForVideo",
    "States": {
      "GenerateJobForVideo": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:YOUR_ACCOUNT_ID:function:GenerateJobForVideo",
        "Comment": "Lambda 1: Generate job ID and import student photos",
        "Parameters": {
          "detail.$": "$.detail"
        },
        "ResultPath": "$",
        "Next": "RunRekognition",
        "Catch": [
          {
            "ErrorEquals": ["States.ALL"],
            "ResultPath": "$.error",
            "Next": "HandleError"
          }
        ]
      },
      "RunRekognition": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:YOUR_ACCOUNT_ID:function:RunRekognition",
        "Comment": "Lambda 2: Run Rekognition and save results",
        "ResultPath": "$",
        "Next": "CheckRekognitionStatus",
        "Catch": [
          {
            "ErrorEquals": ["States.ALL"],
            "ResultPath": "$.error",
            "Next": "HandleError"
          }
        ]
      },
      "CheckRekognitionStatus": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.status",
            "StringEquals": "rekognition_complete",
            "Next": "ProcessAndStore"
          }
        ],
        "Default": "HandleError"
      },
      "ProcessAndStore": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:YOUR_ACCOUNT_ID:function:ProcessAndStore",
        "Comment": "Lambda 3: Process results and store to DynamoDB",
        "ResultPath": "$",
        "Next": "Success",
        "Catch": [
          {
            "ErrorEquals": ["States.ALL"],
            "ResultPath": "$.error",
            "Next": "HandleError"
          }
        ]
      },
      "Success": {
        "Type": "Succeed"
      },
      "HandleError": {
        "Type": "Fail",
        "Error": "PipelineFailed",
        "Cause": "Lambda function error"
      }
    }
  }